h1 {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  transform: translateY(-50%);
  
  background-color: rgba(60, 179, 113, .7);
  font-family: "Courier New", sans-serif;
}
